* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 25px;
}
  
/*CSS for Services.HTML*/

.maggie-h3 {
  text-align: center;
  line-height: 40px;
}

h2 {
  color:#523e33;
  padding: 20px;
  text-align: center;

}
p {
  text-align: justify;
  font-size: 18px;
  line-height: 20px;
}

.price {
    line-height: 28px;
    font-size: 18px;
}
  div[class^='classes']  {
    float: left;
    border: 1px solid white;
    }

  div.classes {
    width: 33.3333%;
    margin: auto;
    padding: 0 35px 25px;
    }

.headers {
  clear:both;
  padding:5px;
  margin:5px;
}

/*CSS for Schedule.HTML*/

.schedule-container {
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	padding: 30px 40px;
}
.schedule-p {
	text-align: center;
	line-height: 30px;
}

/*Media Queries for Services.HTML*/ 

@media only screen and (max-width: 700px) { 
	.classes {width: 100%;}
	.classes { margin: 1% 0 1% 0%;}
	
}


/*Media Queries for Schedule.HTML */


