/*Body styles*/
body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", Arial, sans-serif;
}

/*General styles*/
.clearfix:after{
  content:"";
  display: block;
  clear: both;
}

.clear{
  clear: both;
}

/*Logo and header 1 styles*/
img.logo{
  float: left;
  height:6em;
  width:6em;
  margin: -0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  display: block;
}

h1{
  margin: 0.5em;
  padding: 0.5em;
  font-size: 36px;
  text-align: center;
} 

/*Banner styles*/
article.banner{
  float: left;
}

/*Create a reserved space for the banner*/
.banner{
  height: 25vh;
  width: 100vmax;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
  overflow: hidden;
}

/*Float and add padding to all images of the banner*/
.firstchild, .secondchild, .thirdchild, .fourthchild, .lastchild {
  float: left;
  height: 200px;
  width: auto;
}

img{
  padding: 1em;
}

/*Bannermove transition*/
.firstchild{
  /*Animation name, speed, animation type, delay, total time*/
  -webkit-animation: banneranimation 30s linear 1s infinite;
}

/*Define the speed and where it stops*/
@-webkit-keyframes "banneranimation" {
  
  /*Initially: margin left unmoving*/
  0%{
    margin-left: 0px;
  }
  
  /*Now: margin left moving*/
  100%{
    margin-left: -1000px;
  }
}


/*
 clearfix styles to keep the row divs from collapsing,
since all their children are floated 
div.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
/* this selector selects all divs that have a class name
beginning with 'col_' 
^= means It is the regular expression syntax, another way of saying "starts with this string"       */

/*
div[class^='col_']  {
  float: left;
  background-color: #99FFCC;
  border: 1px solid white;
}

div.col_1_of_5 {width: 20%;}
div.col_2_of_5 {width: 20%;}
div.col_3_of_5 {width: 20%;}
*/
