/* MAIN STYLE SHEET */

/* Colors from STP Logo:
Lightest green: #d6e8b8
Medium green: #94c840
Brown: #523e33 */

/* Colors for all the pages:
Header & Footer background: #eaf3d8
Main article background: #f5f9eb */

/* Basic styling of the body */

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  background-color: #f5f9eb;
}

.clearfix:after{
  content:"";
  display: block;
  clear: both;
}

.clear{
  clear: both;
}

/* Header styling - Logo and h1 floated left, nav floated right, all on the same line */

header{
  background-color: #eaf3d8;
  overflow: auto;
}

.logo {
  float: left;
  width: 7rem;
  height: 7rem;
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: 0.5rem 1rem 1rem 4rem;
}

h1 {
  float: left;
  text-align: center;
  padding: 0.5rem 1%;
  margin: 3rem 0rem 1rem 0rem;
  font-weight: 400;
  font-size: 1.8rem;
}

/* After 584px, logo and h1 have reduced padding, margins, and h1 goes to the next line */

@media only screen and (max-width: 584px) {
  .logo{
    margin: 0 auto;
    padding: 2%;
  }
  
  h1 {
    clear: both;
    float: left;
    margin: 0 auto;
    padding: 2%;
  }
}

/* Setting up OL items as a nav bar across the width of the screen */
/* Remove bullets, set nav width to 100% of header */

.main-nav {
  float: right;
  list-style: none;
  width: 50%;
  margin: 3.5rem 0rem 0rem 0rem;
}

/* Float the elements, center link content, width on links, set font color */

.main-nav a {
  float: left;
  width: 13.2%; 
  padding: 0.5rem 1%;
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: bold; 
}

/* Set extra padding on first nav link */

.main-nav a:first-of-type {
  padding-left: 6%;
}

/*  After 1194px, nav takes 100% width. As the screen shrinks, the nav elements go to the next line */

@media only screen and (max-width: 1194px) {
  .main-nav{
    width: 100%;
    margin: 0rem;
  }
  
  .main-nav a {
    width: 16.67%; 
    padding: 1rem;
  }
  
  .main-nav a:first-of-type {
    width: 16.67%; 
    padding: 1rem;
  }

  .main-nav a:last-of-type {
    width: 16.67%; 
    padding: 1rem;
  }
}

/* After 700px, nav seperates in two colomns of three lines */

@media only screen and (max-width: 700px) {
	.main-nav a {
      width: 33.333%; 
      padding: 1rem;
	}
    .main-nav a:first-of-type {
      width: 33.333%; 
      padding: 1rem;
    }

    .main-nav a:last-of-type {
      width: 33.333%; 
      padding: 1rem;
    }
}

/* Clear the nav float */

nav::after {
  clear:both;
}

/* Set side margins of main article (so text isn't too spread out and hard to read) */

article {
  margin: 0 auto;
  width: 78%;
  padding: 0 2%;
}

/* Style links in main area text */

article a {
  color: #1a5d00;
  text-decoration: underline;
}

article a:hover {
  background-color: #d6e8b8;
}

/* Float all of the grid divs */

section[class^='span_']  {
      float: left;
      background-color: #f5f9eb;
      margin: 1%;
    }

/* Clear floats after each row */

section[class^='span_']:first-child {
  clear: both;
}

/*  GRID OF SIX */

.span_6_of_6 {
	width: 97%;
}

.span_5_of_6 {
  	width: 81.16%;
}

.span_4_of_6 {
  	width: 64.33%;
}

.span_3_of_6 {
  	width: 47.5%;
}

.span_2_of_6 {
  	width: 30.66%;
}

.span_1_of_6 {
  	width: 13.83%;
}

/*  Go full width at less than 700px */

@media only screen and (max-width: 700px) {
  
    article {
    margin: 0 auto;
    width: 96%;
    padding: 0 2%;
    }
	.span_6_of_6 {
		width: 96%; 
	}
	.span_5_of_6 {
		width: 96%; 
	}
	.span_4_of_6 {
		width: 96%; 
	}
	.span_3_of_6 {
		width: 96%; 
	}
	.span_2_of_6 {
		width: 96%; 
	}
	.span_1_of_6 {
		width: 96%; 
	}
}

/* Make the images in the grid fit their containers */

article img {
  width: 100%;
  display: block;
  margin: auto;
} 

/* Don't let the images get too huge after the breakpoint */

@media only screen and (max-width: 700px) {

  article img {
    width: 75%;
    display: block;
    margin: auto;
  } 
}

/* Set spacing between paragraphs and background color */

article p {
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: justify;
  background-color: #f5f9eb;
}

/* Don't include spacing after last paragraph in a section */

section[class^='span_'] p:last-of-type {
  margin-bottom: 0;
}

/* Allow contained elements (in container with class "flex-reverse") to reverse position after breakpoint */

@media (max-width: 700px) {
  .flex-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Style the footer and clear all floats */

footer {
  clear:both;
  width: 100%;
  background-color: #eaf3d8;
}

/* Style links in footer */

footer a {
  color: #1a5d00;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Reduce font size of the items in the footer, add some padding */

footer h3 {
  font-size: 1rem;
}

footer p {
  font-size: .9rem;
}

footer h4 {
  font-size: .9rem;
}

.nd-footer {
  padding: 1rem 20.5% .25rem 20.5%;
  text-align: center;
}

.contact-footer {
  text-align: center;
  padding-top: .5rem;
}

.social-footer {
  text-align: center;
  padding: .25rem 0;
}

.copy-footer {
  text-align: center;
}

.last-nav {
  text-align: center;
  padding: .75rem;
  font-size: .9em;
}

/* INDEX.HTML STYLES */

/* Banner Styles */
/* Create a reserved space for the banner */

.banner{
  width: 98vmax;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
  overflow: hidden;
}

/* Float and add padding to all images in banner */

.firstchild, .secondchild, .thirdchild, .fourthchild {
  float: left;
  height: 12rem;
  width: auto;
  padding: 0.2rem;
}

/* Banner transition: Animation name, speed, animation type, delay, total time */

.firstchild{
  -webkit-animation: banneranimation 10s linear 1s infinite;
}

/* Define the speed and where it stops */

@-webkit-keyframes banneranimation {
  /* Initially: margin left unmoving */
  0%{
    margin-left: 0px;
  }
 /* Now: margin left moving */ 
  100%{
    margin-left: -300px;
  }
}

/* Banner responsiveness */
/* After 1200px, width is 100%, and height is forced at 12rem, makig sure the image doesn't go to the next line */

@media only screen and (max-width: 1200px) {
  .banner{
    max-width: 100%;
    max-height: 12rem;
  }
}

/* CONTACT PAGE STYLES */

* {
    box-sizing: border-box;}

form, p, span {
    margin:0;
    padding:0;}
  
input { font:12px arial;}
  
a {
    color:#0000FF;
    text-decoration:none;}
  
a:hover { text-decoration:underline;}
  

/* Style inputs */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;}

input[type=submit]:hover {
    background-color: red;}

/* Style the container/contact section */

.container {
    border-radius: 10px;
    background-color: #f5f9eb;
    }

/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 800px) {
    .column, input[type=submit] {
        width: 100%;
      margin-top: 0;}}
map{
  width:400px;
  height:400px;}
 
#wrapper, #loginform {
    margin: auto;
    padding-bottom:25px;
    background: darkgray;
    width:80%;
    border:5px solid black; }
  
#loginform { padding-top:10px; }
  
#loginform p { margin: 5px; }
  
/* chatbox */
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
  }

#usermsg {
    display: block;
    margin: auto;
    width:395px;
    border:1px solid #ACD8F0; }
  
#submitmsg { 
    width: 5rem;
    display: block;
    margin: auto;
}

#exit {
    display: block;
    margin: auto;
}
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }

.msgln {margin:0 0 2px 0;}

